* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
}

header {
  height: 10%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container>div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

header a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
}

main {
  padding: 16px 57px;
  height: 90%;
}

main img {
  width: 100%;
  height: 100%;
}

.textDesign {
  display: flex;
  justify-content: space-evenly;
  margin-top: 82px;
  margin-bottom: 208px;
}

.textDesign h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  /* or 121% */
  color: #1a1a1a;
}

.textDesign p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #aaaaaa;
}

.roomDesign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 208px;
}
.roomDesign p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */


color: #1A1A1A;

}

.room {
  width: 49%;
}

.room img {
  width: 100%;
}

.brendsText {
  margin-top: 212px;
  margin-bottom: 25px;
}

.brendsText h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #1a1a1a;
}

.brendsText p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #4a4a4a;
}

.logoBrends {
  display: flex;
  flex-wrap: wrap;
  margin-top: 125px;
  margin-bottom: 239px;
}

.logoBrends div {
  width: 16%;
  margin-top: 49px;
  display: flex;
  justify-content: center;
}

.meniBurger {
  display: none;
}

.meniBurger img {
  height: 50px;
}

.slider {
  padding: 0 27px;
}

.slider img {
  width: 100%;
}

.advantages h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #1a1a1a;
  margin-top: 65px;
}
.advantages h2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
color: #1A1A1A;

}

.advantages .container a {
  text-decoration: none;
  color:
    #46856E;
}

.advantages p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #46856e;
  margin-top: 15px;
}

.aItems {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin-top: 100px;
  margin-right: 229px;
  margin-left: 215px;
}

.REVIEWS {
  margin-top: 237px;
  height: 110vh;
  background-image: url(Imges/Stars/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 86%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding-left: 185px;
  padding-top: 120px;
}

.REVIEWS h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.REVIEWS p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
  color: #AAAAAA;
}

.text h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
  color: #000000;
  margin-left: -300px;
}

.works{
  margin-top: 135px;
  margin-bottom: 288px;
}

.work{
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.work h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
color: #1A1A1A;
}
.work p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #AAAAAA;
}
.work img{
  width: 60%;
}
.work div{
  width: 35%;
  align-self: center;
}




.slide {
  height: 100vh;
  background-image: url(Imges/Slide/Frame.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 288px;
}


.border {
  margin-top: 286px;
  height: 70vh;
  width: 135vh;
  padding-right: 500px;
  border: 4px #F2F2F2 solid;
  background-color: #F2F2F2;
  margin-left: 15%;
  padding-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #1A1A1A;
}
.charge p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #1A1A1A;
}
.turn p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #1A1A1A;
}
.pip #term{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #AAAAAA;
margin-left: 43%;
margin-top: 5%;

}

.pip .gat{
  font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 35px;
line-height: 51px;
text-align: center;
color: #000000;
width: 750px;
margin-top: 5%;
}
.pip button{
  border: none;
  background-color: #46856E;
  height: 5vh;
  width: 13vh;
  color: white;
  margin-left: 45%;
  margin-top: 15%;
}
.fog{
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
  margin-left: 7%;
}


footer .container {
  display: flex;
}

.leftF {
  width: 50%;
  display: flex;
}

footer {
  background-color: #2B2B2B;
  height: 70vh;
  padding-top: 50px;
  margin-top: 79px;
}

.about,
.showrooms,
.support,
.office {
  display: flex;
  flex-direction: column;
}

#f1 {
  margin: 0 70px;
}

.about,
.support {
  margin-bottom: 47px;
}

footer a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
  color: #FFFFFF;
  text-decoration: none;
}

.followUs p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
  color: #FFFFFF;
}

.followUs div img {
  margin-right: 13px;
}

.rightF {
  display: flex;
  width: 50%;
}

.followUs {
  width: 40%;
}

.feedBack {
  width: 70%;
}
.feedBack p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

input[type="text"] {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  background-color: transparent;
  width: 327px;
  height: 54px;
}

select {
  background-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
}
input[type="checkbox"]{
  border: none;
  background-color: transparent;
  width: 28px;
  height: 26px;
}
.check{
  margin-top: 93px;
}
.check span{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
letter-spacing: 2.4px;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.5);
}
input[type="submit"]{
  border: none;
  background-color: transparent;
  margin-left: 380px;
  margin-top: 58px;
}
input[value="Sign Up"]{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 60px;
letter-spacing: 2.3px;
text-transform: uppercase;
color: #FFFFFF;
}
.rot p{
  color: red;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  transform: rotate(90deg);
}









@media (max-width: 1400px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  header .container div {
    display: none;
  }

  .meniBurger {
    display: block;
  }

  .container {
    width: 90%;
  }

  .main {
    height: fit-content;
  }

  header {
    height: 10vh;
  }

  main {
    height: fit-content;
    padding: 10px;
  }

  .textDesign {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .textDesign h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .textDesign p {
    width: 100%;
    text-align: center;
  }

  .roomDesign {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    gap: 15px;
    margin-bottom: 55px;
  }

  .room {
    width: 100%;
  }

  .logoBrends {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 60px;
    margin-left: -15px;
  }

  .logoBrends img {
    width: 35px;
    height: 35px;
  }

  .brendsText h1 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 55px;
  }

  .brendsText p {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .brendsText {
    margin-top: 25px;
  }

  .advantages .container .taga img{
    width: 387px;
    margin-left: -5%;
  }
  .advantages{
    margin-top: -15px;
  }
  .advantages h1{
    font-size: 25px;
    line-height: 28px;
    text-align: center;
  }
  .advantages a{
    margin-left: 10%;
  }
  .advantages .aItems{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left:27%;
  }
  .aItems p{
    font-size: 14px;
    line-height: 15px;
    width: 250px;
  }
  .REVIEWS{
    height: 100vh;
    width: 390px;
  background-image: url(Imges/Stars/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  margin-left: 0%;
  padding-bottom: 35px;
  padding-left: 45px;
  margin-top: 65px;
  margin-bottom: 55px;
  }
  .text h1{
    font-size: 25px;
    line-height: 25px;
    width: 260px;
  }
  .text h2{
    font-size: 29px;
    width: 200px;
    margin-left: -15%;
    line-height: 35px;
  }
  .text{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .work img{
    width: 220px;
    height: 330px;
    display: flex;
    align-self: center;
  }
  .work h1{
    font-size: 25px;
    width: 130px;
  }
  .work p{
    font-size: 15px;
  }
  .slide {
    height: 50vh;
    width: 387px;
    background-image: url(Imges/Pictures/Frame\ \(1\).png);
    background-repeat: no-repeat;
    margin-top: 288px;
  }
  .border .pip{
    display: flex;
    flex-direction: column;
    gap: 65px;
  }
  .border{
    border: 4px #F2F2F2 solid;
  background-color: #F2F2F2;
  height: 100vh;
  width: 150px;
  margin-left: -15%;
  padding-right: 88%;
  
  }
  .border div{
    display: flex;
    flex-direction: column;
  }
  .pip{
    margin-left: 450px;
  }
  .pip .gat{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 51px;
text-align: center;
color: #000000;
width: 250px;
margin-left: -35%;
  }
  .pip button{
    margin-left: -10%;
  }
  .shop p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #1A1A1A;
  }
  .charge p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #1A1A1A;
  }
  .turn p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #1A1A1A;
  }
  .pip img{
    height: 95px;
    width: 100px;
  }
  .pip .fog div{
    gap: 25px;
    margin-left: -7%;
  }
  .pip #term{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #AAAAAA;
margin-left: -15%;
margin-top: -15%;
  }
  footer{
    height: 150vh;
  }
  footer .container{
    display: flex;
    flex-direction: column;
  }
  .followUs, .feedBack{
    display: flex;
    flex-direction: column;
  }
  .check span{
    width: 450px;
  }

}